
/* Big Shoulders Display */
@font-face {
    font-family: "Big Shoulders Display";
    src: url("../assets/fontFamily/BigShouldersDisplay/BigShouldersDisplay-Thin.ttf") format("truetype");
    font-weight: 100;
}

@font-face {
    font-family: "Big Shoulders Display";
    src: url("../assets/fontFamily/BigShouldersDisplay/BigShouldersDisplay-ExtraLight.ttf") format("truetype");
    font-weight: 200;
}

@font-face {
    font-family: "Big Shoulders Display";
    src: url("../assets/fontFamily/BigShouldersDisplay/BigShouldersDisplay-Light.ttf") format("truetype");
    font-weight: 300;
}

@font-face {
    font-family: "Big Shoulders Display";
    src: url("../assets/fontFamily/BigShouldersDisplay/BigShouldersDisplay-Regular.ttf") format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "Big Shoulders Display";
    src: url("../assets/fontFamily/BigShouldersDisplay/BigShouldersDisplay-Medium.ttf") format("truetype");
    font-weight: 500;
}

@font-face {
    font-family: "Big Shoulders Display";
    src: url("../assets/fontFamily/BigShouldersDisplay/BigShouldersDisplay-SemiBold.ttf") format("truetype");
    font-weight: 600;
}

@font-face {
    font-family: "Big Shoulders Display";
    src: url("../assets/fontFamily/BigShouldersDisplay/BigShouldersDisplay-Bold.ttf") format("truetype");
    font-weight: 700;
}

@font-face {
    font-family: "Big Shoulders Display";
    src: url("../assets/fontFamily/BigShouldersDisplay/BigShouldersDisplay-ExtraBold.ttf") format("truetype");
    font-weight: 800;
}

@font-face {
    font-family: "Big Shoulders Display";
    src: url("../assets/fontFamily/BigShouldersDisplay/BigShouldersDisplay-Black.ttf") format("truetype");
    font-weight: 900;
}
